<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twinkler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<form action="{{ url_for('markup') }}" method="post" id="form">
    <label for="code"><h1>What code do you want to sparkle? ✨</h1></label>
    <p>These colours come from the emacs <a href="https://github.com/emacs-mirror/emacs/blob/master/etc/themes/wombat-theme.el">wombat</a> theme.</p>
    <textarea id="code" name="code"></textarea>
    <input type="submit" value="Submit">
</form>
<script>
    // David Walsh is a legend: https://davidwalsh.name/command-enter-submit-forms
    const form = document.getElementById("form");
    form.addEventListener('keydown', function (e) {
        console.log("KeyDown fired");
        if (!(e.keyCode === 13 && e.metaKey)) return;

        const target = e.target;
        if (target.form) {
            target.form.submit();
        }
    });
</script>
</body>
</html>