<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twinkler</title>
    {% set base_url = "http://twinkler.lord.geek.nz" %}
    {% set social_title = "Twinkler" %}
    {% set social_description = "Festive code highlighting." %}
    {% set thumbnail_url = base_url ~ url_for('static', filename='thumbnail.png') %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta property="og:title" content="{{ social_title }}">
    <meta property="og:url" content="{{ base_url }}">
    <meta property="og:description" content="{{ social_description }}">
    <meta property="og:image" content="{{ thumbnail_url }}">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@dal_geek">
    <meta name="twitter:title" content="{{ social_title }}">
    <meta name="twitter:description" content="{{ social_description }}">
    <meta name="twitter:image" content="{{ thumbnail_url }}">
</head>
<body>
<form action="{{ url_for('markup') }}" method="post" id="form">
    <label for="code"><h1>What code do you want to sparkle? ✨</h1></label>
    <p>These colours come from the emacs <a href="https://github.com/emacs-mirror/emacs/blob/master/etc/themes/wombat-theme.el">wombat</a> theme.</p>
    <textarea id="code" name="code" autofocus spellcheck="false" placeholder="# Don't put confidential code into text boxes on the internet"></textarea>
    <input type="submit" value="Submit">
</form>
<script>
    // David Walsh is a legend: https://davidwalsh.name/command-enter-submit-forms
    // I've extended it to enable ctrl+enter too
    const form = document.getElementById("form");
    form.addEventListener('keydown', function (e) {
        console.log("KeyDown fired");
        if (!((e.keyCode === 13) && (e.metaKey || e.ctrlKey))) return;

        const target = e.target;
        if (target.form) {
            target.form.submit();
        }
    });
</script>
</body>
</html>