:root {
     /* declare variables and give them a default, which the JS will override shortly */
    {% for css_class, css_variable in css_classes_and_variables %}
    --{{ css_variable }}: white;{% endfor %}
}

body {
    background-color: #303030;
    font-size: 16px;
}
@media only screen and (max-device-width: 480px) {
    body {
        font-size: 28px;
    }
}
div.highlight {
    margin: -1em 0;
}
button {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 10rem;
    height: 4rem;
    font-size: 2em;
}

div.highlight > pre {
    background-color: #303030;
    padding: 2em;
    color: white;
    font-family: monospace;
}

span {
    transition: all 0.5s;
    color: var(--unknown); /* a fallback - this should always be overridden by a specific class with a defined colour, but the author is forgetful */
}

{% for css_class, css_variable in css_classes_and_variables %}
{{ css_class }} {
    color: var(--{{ css_variable }});
}
{% endfor %}