<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='twinkle.css') }}">
    <script src="{{ url_for('static', filename='twinkle.js') }}"></script>
</head>
<body onLoad="change();">
<pre class="highlighter"><span class="comment"># clockdeco2.py</span>
<span class="import">import</span> time
<span class="import">import</span> functools

<span class="keyword">def</span> <span class="function">clock</span> <span class="bracket">(</span>func<span
            class="bracket">)</span>:
    <span class="decorator">@functools.wraps</span><span class="bracket">(</span>func<span class="bracket">)</span>
    <span class="keyword">def</span> <span class="function">clocked</span><span
            class="bracket">(</span>*args, **kwargs<span class="bracket">)</span>:
        t0 = <span class="identifier">time.time</span><span class="bracket">()</span>
        result = func(*args, **kwargs)
        elapsed = <span class="identifier">time.time</span><span class="bracket">()</span> - t0
        name = func.<span class="dunder">__name__</span>
        <span class="function">print</span>(<span class="string">'[%0.8fs] %s() > %r '</span> % (elapsed , name , result))
        <span class="keyword">return</span> result
    <span class="keyword">return</span> clocked 

Ramalho, Luciano. Fluent Python (p. 205). O'Reilly Media. Kindle Edition.</pre>
<button onClick="begin();">Change</button>
</html>
